.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.5rem 0 0;
}

.wp-caption-text {
	color: var(--enlightenment-accent-color);
	font-size: var(--enlightenment-font-size-sm);
	text-align: center;
}
