.wp-block-archives {
    font-size: var(--enlightenment-body-font-size);

    &.wp-block-archives-list {
        font-family: var(--enlightenment-body-font-family);
    }

	a {
		text-decoration-line: none;
	}
}
