.wp-block-bp-active-members,
.wp-block-bp-online-members {
	.widget-title {
		font-size: 1.25rem;

		@media (min-width: 768px) {
			font-size: 2rem;

			.wp-block-columns > .w-100 > .row > div:not(:only-child) & {
				font-size: 1.25rem;
			}
		}
	}

	.avatar-block {
		margin: -.25rem;
	}

	.item-avatar {
		padding: .25rem;
	}

	.avatar {
		max-width: 3rem;
	}
}

@media (min-width: 768px) {
	.wp-block-bp-active-members,
	.wp-block-bp-online-members {
		.widget-title {
			font-size: 2rem;
		}
	}
}
