.wp-block-categories {
    font-size: var(--enlightenment-body-font-size);

    &.wp-block-categories-list {
        font-family: var(--enlightenment-body-font-family);

        .cat-item {
            line-height: 1.5rem;

            .children {
                .cat-item {
                    position: relative;

                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        left: 7.5px;
                        width: 8px;
                        height: 8px;
                        margin-left: -1.5rem;
                        border-width: 1px;
                        border-style: solid;
                    }

                    &::before {
                        top: 2px;
                        border-color: transparent transparent rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15);
                    }

                    &::after {
                        top: 9px;
                        border-color: transparent transparent transparent rgba(0, 0, 0, 0.15);
                    }

                    &:last-child::after {
                        content: none;
                    }
                }
            }

			a {
				text-decoration-line: none;
			}
        }
    }
}
