.wp-block-post-author {
	padding: 1.25rem;
	border: 1px solid rgba(0,0,0,.125);
    border-radius: var(--bs-border-radius);
	background-color: #fff;
	font-family: var(--enlightenment-body-font-family);
	font-size: var(--enlightenment-body-font-size);
	line-height: var(--bs-body-line-height);
}

.wp-block-post-author__avatar {
	img {
		border-radius: 50%;
	}
}

.wp-block-post-author__byline {
	font-size: .875em;
}

.wp-block-post-author__name {
	margin-bottom: .5rem;
	font-size: calc(1.275rem + .3vw);
	font-weight: 700;
	line-height: 1.2;
}

@media (min-width: 1200px) {
	.wp-block-post-author__name {
		font-size: 1.5rem;
	}
}

.wp-block-post-author__bio {
	margin-bottom: 0;
	font-size: 1em;
}
