.wp-block-separator {
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    border-top-width: 2px;

    &:not(.has-background) {
        border-color: #8f98a1;
    }

    &.is-style-wide {
        max-width: none;
        border-color: currentColor;
        border-top-width: 1px;
    }

	&:not(.is-style-wide) {
		margin-left: auto !important;
		margin-right: auto !important;
	}

    &.is-style-dots {
        &::before {
            padding-left: 1rem;
            font-size: 1.5rem;
            letter-spacing: 1rem;
        }
    }
}
