.wp-block-yoast-how-to-block,
.wp-block-yoast-faq-block,
.wp-block-yoast-breadcrumbs {
    font-family: var(--enlightenment-body-font-family);
    font-size: var(--enlightenment-body-font-size);
}

.schema-how-to-duration-time-text {
    font-weight: 700;
}

.schema-faq-question {
    display: block;
	color: var(--bs-heading-color);
}

.schema-faq-section:last-child .schema-faq-answer {
    margin-bottom: 0;
}

.schema-how-to-step-text,
.schema-faq-answer {
    img {
        display: block;
        margin-top: .5rem;
    }
}

.wp-block-yoast-breadcrumbs {
    .yoast-breadcrumbs {
        color: var(--enlightenment-accent-color);
        font-size: var(--enlightenment-font-size-sm);
        line-height: 2rem;

        a {
            color: var(--enlightenment-accent-color);
			text-decoration-line: none;

            &:hover {
                color: var(--bs-body-color);
            }

            & + span::before {
                content: "\00a0/\00a0";
                padding-right: .25rem;
                opacity: .3;
            }
        }
    }
}
