.widget {
}

.widget + .widget {
	margin-top: 3rem;
}

.widget-area {
	& > .row,
	& > .container > .row {
	    margin-top: -2rem;

		& > [class^="col-"],
		& > [class*=" col-"] {
			margin-top: 2rem;
		}
	}
}

.widget-title,
.widgettitle {
	font-size: 1.25rem;
}

.widget-title,
.widgettitle {
	a {
		color: inherit;
		text-decoration-line: none;

		&:hover {
			color: var(--bs-link-color);
		}

		&:active {
			color: var(--bs-link-hover-color);
		}
	}
}

.sidebar-footer {
	.widget-title,
	.widgettitle {
		a {
			// color: inherit;
		}
	}
}


.widget ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.widget li + li {
	// margin-top: .5rem;
	margin-top: 9px;
}

.widget select {
}

.widget_categories,
.widget_pages {
	.children {
		margin-top: .5rem;

		& > li {
			position: relative;
		    padding-left: 1.5rem;

			&::before,
			&::after {
				content: "";
			    position: absolute;
			    left: 7.5px;
			    width: 8px;
			    height: 8px;
			    border-width: 1px;
			    border-style: solid;
			}

			&::before {
			    top: 2px;
			    border-color: transparent transparent rgba(0,0,0,.15) rgba(0,0,0,.15);
			}

			&::after {
			    top: 9px;
			    border-color: transparent transparent transparent rgba(0, 0, 0, 0.15);
			}

			&:last-child::after {
				content: none;
			}
		}
	}
}

.widget_nav_menu {
	.menu-item-has-icon {
		.fa, .fab, .fal, .far, .fas {
			width: 1.25em;
			margin-right: .125rem;
			text-align: center;
		}
	}

	.sub-menu {
		margin-top: .5rem;

		.menu-item {
			position: relative;
		    padding-left: 1.5rem;

			&::before,
			&::after {
				content: "";
			    position: absolute;
			    left: 7.5px;
			    width: 8px;
			    height: 8px;
			    border-width: 1px;
			    border-style: solid;
			}

			&::before {
			    top: 2px;
			    border-color: transparent transparent rgba(0,0,0,.15) rgba(0,0,0,.15);
			}

			&::after {
			    top: 9px;
			    border-color: transparent transparent transparent rgba(0, 0, 0, 0.15);
			}

			&:last-child::after {
				content: none;
			}
		}
	}
}

.widget_rss {
	.fa-rss {
		color: #fb9f3c;
		font-size: var(--enlightenment-body-font-size);
	}

	.widgettitle .rsswidget:first-child:not(:only-child) {
		&::before {
			content: "\f09e";
			-moz-osx-font-smoothing: grayscale;
		    -webkit-font-smoothing: antialiased;
		    display: inline-block;
			color: #fb9f3c;
			font-family: var(--enlightenment-font-icons);
			font-size: var(--enlightenment-body-font-size);
		    font-style: normal;
		    font-variant: normal;
			font-weight: 900;
		    line-height: 1;
		    text-rendering: auto;
		}

		img {
			display: none;
		}
	}

	li:not([class]) {
		display: flex;
		flex-wrap: wrap;

		.rsswidget:not(:only-child) {
			flex: 0 0 100%;
			font-size: 1.125rem;
			font-weight: 600;
		}
	}

	.rss-date {
		// display: block;
		color: var(--enlightenment-accent-color);
	    font-size: var(--enlightenment-font-size-sm);
	    font-weight: 300;

		&::before {
			content: "";
			display: block;
		}
	}

	.rssSummary {
	    order: 1;
	}

	cite {
		color: var(--enlightenment-accent-color);
		font-size: var(--enlightenment-font-size-sm);
		font-style: normal;
	    font-weight: 300;
	}

	.rss-date {
		& + cite,
		& + .rssSummary + cite {
			margin-left: .25rem;
		}
	}
}

.widget_calendar {
	.wp-calendar-table {
		width: 100%;
		text-align: center;

		caption {
			padding-top: 0;
			padding-bottom: 0;
			margin-bottom: .5rem;
			color: var(--bs-body-color);
			font-size: 1.25rem;
			font-weight: 700;
			line-height: 1.2;
			caption-side: top;
		}
	}

	.widget-title + .calendar_wrap .wp-calendar-table caption {
		padding-top: .75rem;
	    padding-bottom: .75rem;
		margin-bottom: 0;
	    color: #6c757d;
		font-size: var(--enlightenment-body-font-size);
		font-weight: 400;
		line-height: 1.5;
	}

	.wp-calendar-table {
		thead th {
			font-size: .75rem;
			font-weight: 600;
		}

		td,
		th {
			min-width: 2.25rem;
			padding: 4px 5px;
			line-height: 1.75rem;
		}

		tr td {
			position: relative;
			color: var(--enlightenment-accent-color);
			font-weight: 300;

			&#today {
				color: #fff;

				&::before {
					content: "";
					position: absolute;
					top: 2px;
					left: 50%;
					bottom: 2px;
					z-index: -1;
					width: 2rem;
					margin-left: -1rem;
					border-radius: 50%;
					background-color: #fd000d;
				}
			}

			a {
				color: var(--bs-body-color);

				&::before {
					content: "";
					position: absolute;
					top: 2px;
					left: 50%;
					bottom: 2px;
					z-index: -1;
					width: 2rem;
					margin-left: -1rem;
					border-radius: 50%;
					transition: background-color .15s ease-in-out;
				}

				&:hover::before {
					background-color: rgba(0,0,0,.05);
				}

				&:active::before {
					background-color: rgba(0,0,0,.1);
				}
			}

			&#today a {
				color: #fff;

				&::before {
					content: none;
				}
			}
		}
	}

	.wp-calendar-nav {
		display: flex;

		.pad {
			display: none;
		}

		.wp-calendar-nav-next {
			margin-left: auto;
		}
	}
}

.widget_media_image {
	a {
		display: block;

		&:where(:not([href$=".jpg"], [href$=".jpeg"], [href$=".png"], [href$=".gif"], [href$=".webp"])) {
			overflow: hidden;

			img {
				transition: opacity 0.5s ease-out, transform 0.5s ease-out;
			}

			&:hover img {
				opacity: 0.8;
				transform: scale(1.05);
			}
		}
	}

	& > img {
		transition: opacity 0.5s ease-out, transform 0.5s ease-out;
	}
}

.tagcloud {
	display: flex;
    flex-wrap: wrap;
    margin: -0.25rem;

	.tag-cloud-link {
		padding: 0.25rem 0.5rem;
	    margin: 0.25rem;
	    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
	    border-radius: var(--bs-border-radius);
		background-color: var(--bs-body-bg);
	    color: var(--enlightenment-accent-color);
	    font-size: 0.875rem !important;
	    line-height: 1;
	    text-decoration-line: none;
		transition: box-shadow 0.15s ease-in-out, background-color 0.25s ease;

		&:hover {
			background-color: var(--bs-tertiary-bg);
		}
	}
}

.widget_text {
	a {
		text-decoration-line: var(--enlightenment-link-text-decoration-line);
	}
}

.widget_block {
	& > [class^="wp-block-"],
	& > [class*=" wp-block-"] {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
