.post-type-post .editor-styles-wrapper {
    .wp-block-cover,
    .wp-block-cover-image {
        .wp-block-cover__inner-container {
            max-width: 720px;
        }
    }
}

@media (max-width: 575.98px) {
	.enlightenment-layout-full-width {
		.editor-styles-wrapper > .block-editor-block-list__layout.block-editor-block-list__layout.is-root-container > .wp-block[data-align="full"] {
			& > .wp-block-cover,
		    & > .wp-block-cover-image {
				padding-left: .9375rem;
				padding-right: .9375rem;

				& > .wp-block-cover__inner-container > .wp-block-columns {
					width: auto;
					max-width: calc(100% + var(--bs-gutter-x));
					margin-left: calc(var(--bs-gutter-x) * -.5);
					margin-right: calc(var(--bs-gutter-x) * -.5);
				}
			}
		}
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.enlightenment-layout-full-width:where(:not(.enlightenment-layout-sm-content-sidebar, .enlightenment-layout-sm-sidebar-content, .enlightenment-layout-sm-sidebar-content-sidebar)),
    .enlightenment-layout-sm-full-width {
        .editor-styles-wrapper > .block-editor-block-list__layout.block-editor-block-list__layout.is-root-container > .wp-block[data-align="full"] {
			& > .wp-block-cover,
		    & > .wp-block-cover-image {
				padding-left: calc(50vw - 255px);
				padding-right: calc(50vw - 255px);

				& > .wp-block-cover__inner-container > .wp-block-columns {
					width: auto;
					max-width: calc(510px + var(--bs-gutter-x));
					margin-left: calc(var(--bs-gutter-x) * -.5);
					margin-right: calc(var(--bs-gutter-x) * -.5);
				}
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.enlightenment-layout-full-width:where(:not(.enlightenment-layout-sm-content-sidebar, .enlightenment-layout-sm-sidebar-content, .enlightenment-layout-sm-sidebar-content-sidebar, .enlightenment-layout-md-content-sidebar, .enlightenment-layout-md-sidebar-content, .enlightenment-layout-md-sidebar-content-sidebar)),
    .enlightenment-layout-sm-full-width:where(:not(.enlightenment-layout-md-content-sidebar, .enlightenment-layout-md-sidebar-content, .enlightenment-layout-md-sidebar-content-sidebar)),
    .enlightenment-layout-md-full-width {
        .editor-styles-wrapper > .block-editor-block-list__layout.block-editor-block-list__layout.is-root-container > .wp-block[data-align="full"] {
			& > .wp-block-cover,
		    & > .wp-block-cover-image {
				padding-left: calc(50vw - 345px);
				padding-right: calc(50vw - 345px);

				& > .wp-block-cover__inner-container > .wp-block-columns {
					width: auto;
					max-width: calc(690px + var(--bs-gutter-x));
					margin-left: calc(var(--bs-gutter-x) * -.5);
					margin-right: calc(var(--bs-gutter-x) * -.5);
				}
			}
		}
	}
}

@media (min-width: 768px) {
    .post-type-post .editor-styles-wrapper {
        .wp-block[data-align="left"],
        .wp-block[data-align="right"] {
            & > [data-type="core/cover"] {
                max-width: 345px;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.enlightenment-layout-full-width:where(:not(.enlightenment-layout-sm-content-sidebar, .enlightenment-layout-sm-sidebar-content, .enlightenment-layout-sm-sidebar-content-sidebar, .enlightenment-layout-md-content-sidebar, .enlightenment-layout-md-sidebar-content, .enlightenment-layout-md-sidebar-content-sidebar, .enlightenment-layout-lg-content-sidebar, .enlightenment-layout-lg-sidebar-content, .enlightenment-layout-lg-sidebar-content-sidebar)),
    .enlightenment-layout-sm-full-width:where(:not(.enlightenment-layout-md-content-sidebar, .enlightenment-layout-md-sidebar-content, .enlightenment-layout-md-sidebar-content-sidebar, .enlightenment-layout-lg-content-sidebar, .enlightenment-layout-lg-sidebar-content, .enlightenment-layout-lg-sidebar-content-sidebar)),
    .enlightenment-layout-md-full-width:where(:not(.enlightenment-layout-lg-content-sidebar, .enlightenment-layout-lg-sidebar-content, .enlightenment-layout-lg-sidebar-content-sidebar)),
    .enlightenment-layout-lg-full-width {
        .editor-styles-wrapper > .block-editor-block-list__layout.block-editor-block-list__layout.is-root-container > .wp-block[data-align="full"] {
			& > .wp-block-cover,
		    & > .wp-block-cover-image {
				padding-left: calc(50vw - 465px);
				padding-right: calc(50vw - 465px);

				& > .wp-block-cover__inner-container > .wp-block-columns {
					width: auto;
					max-width: calc(930px + var(--bs-gutter-x));
					margin-left: calc(var(--bs-gutter-x) * -.5);
					margin-right: calc(var(--bs-gutter-x) * -.5);
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	.enlightenment-layout-md-full-width:where(:not(.enlightenment-layout-lg-content-sidebar, .enlightenment-layout-lg-sidebar-content, .enlightenment-layout-lg-sidebar-content-sidebar)),
    .enlightenment-layout-sm-full-width:where(:not(.enlightenment-layout-md-content-sidebar, .enlightenment-layout-md-sidebar-content, .enlightenment-layout-md-sidebar-content-sidebar, .enlightenment-layout-lg-content-sidebar, .enlightenment-layout-lg-sidebar-content, .enlightenment-layout-lg-sidebar-content-sidebar, .enlightenment-layout-xl-content-sidebar, .enlightenment-layout-xl-sidebar-content, .enlightenment-layout-xl-sidebar-content-sidebar)),
    .enlightenment-layout-md-full-width:where(:not(.enlightenment-layout-lg-content-sidebar, .enlightenment-layout-lg-sidebar-content, .enlightenment-layout-lg-sidebar-content-sidebar, .enlightenment-layout-xl-content-sidebar, .enlightenment-layout-xl-sidebar-content, .enlightenment-layout-xl-sidebar-content-sidebar)),
    .enlightenment-layout-lg-full-width:where(:not(.enlightenment-layout-xl-content-sidebar, .enlightenment-layout-xl-sidebar-content, .enlightenment-layout-xl-sidebar-content-sidebar)),
    .enlightenment-layout-xl-full-width {
		.editor-styles-wrapper > .block-editor-block-list__layout.block-editor-block-list__layout.is-root-container > .wp-block[data-align="full"] {
			& > .wp-block-cover,
		    & > .wp-block-cover-image {
				padding-left: calc(50vw - 555px);
				padding-right: calc(50vw - 555px);

				& > .wp-block-cover__inner-container > .wp-block-columns {
					width: auto;
					max-width: calc(1110px + var(--bs-gutter-x));
					margin-left: calc(var(--bs-gutter-x) * -.5);
					margin-right: calc(var(--bs-gutter-x) * -.5);
				}
			}
		}
	}
}
