.wp-block-bp-sitewide-notices {
	font-family: var(--enlightenment-body-font-family);
	font-size: var(--enlightenment-body-font-size);
}

.bp-sitewide-notice-message {
	strong {
		font-size: 1.25rem;
	}

	:last-child {
		margin-bottom: 0;
	}
}
