.block-editor-block-list__layout.block-editor-block-list__layout.is-root-container > .block-editor-block-list__block[data-align="full"] > .wp-block[data-align="full"] > .wp-block-woocommerce-cart {
	padding-left: 15px;
	padding-right: 15px;
}

.wp-block-woocommerce-cart {
	font-family: var(--bs-body-font-family);
	font-size: var(--bs-body-font-size);
	line-height: var(--bs-body-line-height);

	.wp-block {
		max-width: none !important;
	}

	.wc-block-components-sidebar {
		margin-top: 0;
	}

	.is-large.wc-block-cart {
		margin-bottom: 0;
	}

	.is-medium {
		.wc-block-cart__sidebar,
		.wc-block-cart__sidebar,
		.wc-block-cart__sidebar {
			margin-bottom: 0;
		}
	}

	.is-large.wc-block-cart .wc-block-cart__payment-options {
		padding: 0;
	}

	.wc-block-cart__submit,
	.is-large.wc-block-cart .wc-block-cart__sidebar > div:not(.wc-block-components-totals-wrapper),
	.wc-block-components-sidebar-layout {
		margin: 0;
	}

	.wc-block-components-sidebar-layout {
		.wc-block-components-main,
		.wc-block-components-sidebar {
			flex: 0 0 auto;
			width: 100%;
		}

		.wc-block-components-main + .wc-block-components-sidebar {
			margin-top: 1rem;
		}
	}

	.wc-block-cart-items {
		border-spacing: 0;
		color: var(--bs-body-color);

		.wc-block-cart-items__header .wc-block-cart-items__header-image {
			text-align: left;
		}
	}

	.is-large,
	.is-medium {
		&.wc-block-cart .wc-block-cart-items {
			th,
			td {
				padding-left: 15px;
				padding-right: 15px;

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					padding-right: 0;
				}
			}

			th {
				padding-top: 0.375rem;
				padding-bottom: 1rem;
				line-height: 1rem;
			}
		}
	}

	.is-large.wc-block-cart .wc-block-cart-items td::after {
		border-color: rgba(0,0,0,.15);
		opacity: 1;
	}

	table.wc-block-cart-items {
		.wc-block-cart-items__header {
			color: var(--bs-heading-color);
			font-size: .8125rem;
		    line-height: .875rem;
		    letter-spacing: .04375rem;
		}

		.wc-block-cart-items__row {
			.wc-block-components-product-name {
				margin-bottom: .5rem;
				color: var(--bs-heading-color);
				font-size: 1.25rem;
			    font-weight: 700;
			    line-height: 1.2;
			}

			a.wc-block-components-product-name {
				text-decoration-line: none;

				&:hover {
					color: var(--bs-link-color);
				}

				&:focus {
					color: var(--bs-link-hover-color);
				}
			}

			.wc-block-components-product-metadata {
				font-size: var(--enlightenment-font-size-sm);
			}

			.wc-block-components-product-metadata__description .entry-summary {
				color: inherit;
				font-size: inherit;
				font-weight: inherit;
			}

			.wc-block-components-product-details {
				font-size: var(--enlightenment-font-size-sm);
			    line-height: 1.5;

				li + li {
					margin-top: .25rem;
				}
			}

			.wc-block-cart-item__quantity .wc-block-cart-item__remove-link {
				color: var(--bs-link-color);
				text-decoration-line: none;

				&:hover {
					color: var(--bs-link-hover-color);
				}
			}
		}
	}

	.is-medium,
	.is-mobile,
	.is-small {
		table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__product {
			padding-bottom: 0;
		}
	}

	.wc-block-components-product-price {
		margin-bottom: 0;
		color: inherit;
		font-weight: 400;
	}

	.wc-block-components-product-price__regular {
		opacity: .5;
	}

	.wc-block-components-product-price__value.is-discounted {
		text-decoration-line: none;
	}

	.wc-block-components-product-badge {
		padding: .35em .65em;
		border: none;
		border-radius: var(--bs-border-radius);
		--bs-danger-rgb: 220,53,69;
		--bs-bg-opacity: 1;
	    background-color: rgba(var(--bs-danger-rgb),var(--bs-bg-opacity))!important;
		color: #fff;
	    font-size: .75em;
	    font-weight: 700;
	    line-height: 1;
		text-transform: none;
	}

	.wc-block-components-quantity-selector {
		border-color: var(--bs-border-color);

		&::after {
			border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
			border-radius: var(--bs-border-radius);
		}

		input.wc-block-components-quantity-selector__input {
			padding-top: .375rem;
			padding-bottom: .375rem;
			background-color: var(--bs-body-bg);
			line-height: 1.5;
			transition: background-color .15s ease-in-out;

			&:hover {
				background-color: var(--bs-secondary-bg);
			}

			&:focus {
				box-shadow: inset 0 0 0 1px var(--bs-border-color);
			}
		}

		.wc-block-components-quantity-selector__button {
			position: relative;
			color: var(--enlightenment-accent-color);
			font-weight: 700;
			transition: box-shadow .15s ease-in-out, color .15s ease-in-out;

			&:disabled {
				color: rgba(var(--bs-emphasis-color-rgb), 0.15);
			}

			&--minus {
				border-radius: var(--bs-border-radius) 0 0 var(--bs-border-radius);
			}

			&--plus {
				border-radius: 0 var(--bs-border-radius) var(--bs-border-radius) 0;
			}

			&:not(:disabled):hover {
				color: var(--bs-body-color);
			}

			&:focus:focus,
			&:hover:focus {
				z-index: 1;
				outline: none;
			    box-shadow: none;
				color: var(--bs-body-color);
			}

			&:focus-visible {
				box-shadow: var(--bs-focus-ring-x, 0) var(--bs-focus-ring-y, 0) var(--bs-focus-ring-blur, 0) var(--bs-focus-ring-width) rgba(211,212,213,.5);
			}
		}
	}

	.wp-block-woocommerce-cart-order-summary-block .block-editor-block-list__layout > div + div {
		margin-top: .5rem !important;
	}

	.wc-block-components-title.wc-block-components-title,
	.is-large.wc-block-cart .wc-block-cart__totals-title {
		padding: 0;
		margin-bottom: .5rem;
		color: var(--bs-heading-color);
		font-size: 1.25rem;
		font-weight: 700;
		line-height: 1.2;
		text-align: left;
		text-transform: none;
	}

	.wp-block-woocommerce-cart-order-summary-heading-block textarea {
		display: block;
		max-height: 1.2em;
		padding-left: 0;
		font-size: inherit;
		line-height: 1.2;
		text-align: left;
		text-transform: none;
	}

	.wp-block-woocommerce-cart-order-summary-totals-block {
		border-top: none;
	    padding-bottom: 1rem;
	}

	.wc-block-components-totals-wrapper {
		padding: 0;
		border-top: none;

		& + .wc-block-components-totals-wrapper {
			margin-top: 0.5rem;
		}

		&::after {
			content: none;
		}
	}

	.is-large.wc-block-cart .wc-block-components-sidebar {
		.wc-block-components-panel,
		.wc-block-components-totals-coupon,
		.wc-block-components-totals-coupon-link,
		.wc-block-components-totals-item,
		.wc-block-components-shipping-calculator,
		.wc-block-components-shipping-rates-control__package:not(.wc-block-components-panel) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.wc-block-components-totals-coupon-link {
		text-decoration-line: none;
	}

	.is-large.wc-block-cart .wc-block-components-sidebar .wc-block-components-totals-coupon-link {
		margin-left: 0;
		margin-right: 0;
	}

	.wc-block-components-totals-item__label {
		padding-right: 1rem;
		font-weight: 700;
	}

	.wc-block-components-totals-item__value {
		padding-left: 1rem;
		font-weight: 400;
	}

	.wc-block-components-totals-shipping__change-address__link {
		text-decoration-line: none;
	}

	.wc-block-components-panel__button {
		padding-top: 0;
		padding-bottom: 0;
		font-weight: 700;

		& > .wc-block-components-panel__button-icon {
			top: 1px;
		    transform: none;
		}
	}

	.wc-block-components-totals-shipping {
		.wc-block-components-totals-shipping-address-summary,
		.wc-block-components-totals-shipping__options {
			display: block;
		}
	}

	.wc-block-components-shipping-rates-control__package-items.wc-block-components-shipping-rates-control__package-items {
		padding-left: 0;
		font-size: var(--enlightenment-font-size-sm);
		font-weight: 400;
	}

	.wc-block-components-shipping-rates-control__package-item {
		& + .wc-block-components-shipping-rates-control__package-item {
			margin-top: 0;
		}
	}

	.wc-block-components-form .wc-block-components-text-input,
	.wc-block-components-text-input {
		input[type="email"],
		input[type="number"],
		input[type="tel"],
		input[type="text"],
		input[type="url"] {
			min-height: calc(3.5rem + calc(var(--bs-border-width) * 2));
			height: calc(3.5rem + calc(var(--bs-border-width) * 2));
			padding: 1rem .75rem;
			border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
			border-radius: var(--bs-border-radius);
			background-color: var(--bs-body-bg);
			color: var(--bs-body-color);
			line-height: 1.25;
			text-indent: 0;
			transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

			&:hover {
				border-color: #80bdff;
			}

			&:focus {
				border-color: #86b7fe;
				border-width: var(--bs-border-width);
				box-shadow: var(--bs-focus-ring-x, 0) var(--bs-focus-ring-y, 0) var(--bs-focus-ring-blur, 0) var(--bs-focus-ring-width) var(--bs-focus-ring-color);
				background-color: var(--bs-body-bg);
				color: var(--bs-body-color);
			}

			&:focus-visible {
				outline: none;
			}
		}

		label {
			top: 0;
			left: 0;
			padding: 1rem .75rem;
			margin-left: 0;
			border: 1px solid transparent;
			color: var(--bs-body-color);
			line-height: 1.5;
		    transform: none;
			transition: opacity .1s ease-in-out,transform .1s ease-in-out;
		}

		&.is-active {
			input[type="email"],
			input[type="number"],
			input[type="tel"],
			input[type="text"],
			input[type="url"] {
				padding-top: 1.625rem;
			    padding-bottom: .625rem;
			}

			label {
				pointer-events: none;
				color: rgba(var(--bs-body-color-rgb), 0.65);
			    transform: scale(0.84) translateY(-0.5rem) translateX(0.15rem);
			}
		}

		&.has-error {
			input[type="email"],
			input[type="number"],
			input[type="tel"],
			input[type="text"],
			input[type="url"] {
				border-color: var(--bs-form-invalid-border-color);

				&:focus {
					box-shadow: var(--bs-focus-ring-x, 0) var(--bs-focus-ring-y, 0) var(--bs-focus-ring-blur, 0) var(--bs-focus-ring-width) rgba(var(--bs-danger-rgb), 0.25);

					[data-enlightenment-bs-theme="dark"] & {
						box-shadow: var(--bs-focus-ring-x, 0) var(--bs-focus-ring-y, 0) var(--bs-focus-ring-blur, 0) var(--bs-focus-ring-width) rgba(234, 134, 143, 0.25);
					}
				}
			}

			label {
				color: var(--bs-form-invalid-color);
			}
		}
	}

	.wc-block-components-radio-control {
		.wc-block-components-radio-control__input {
			top: 0;
			width: auto;
			height: auto;
		    min-height: 0;
		    min-width: 0;
			margin: 0;
			box-shadow: none;
			border: none;
			border-radius: 0;
			background-color: transparent;
			line-height: 1.5;
		    transform: none;

			&::before {
				content: none;
			}

			&::after {
				content: "\f111";
				font-family: var(--enlightenment-font-icons);
			    -moz-osx-font-smoothing: grayscale;
			    -webkit-font-smoothing: antialiased;
			    display: inline-block;
			    max-width: 1rem;
			    margin-top: .125rem;
			    margin-right: .5rem;
			    font-size: var(--enlightenment-body-font-size);
			    font-style: normal;
			    font-weight: 400;
			    font-variant: normal;
			    text-rendering: auto;
			    line-height: 1rem;
			    vertical-align: middle;
			    transition: color .25s ease;
			}

			&:checked::after {
				content: "\f192";
			}

			&:focus::after {
				box-shadow: var(--bs-focus-ring-x, 0) var(--bs-focus-ring-y, 0) var(--bs-focus-ring-blur, 0) var(--bs-focus-ring-width) rgba(49,132,253,.5);
				border-radius: 50%;
			}
		}

		.wc-block-components-radio-control__option {
			padding-left: 1.5rem;
			margin-top: .5rem;
			margin-bottom: .5rem;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
			    margin-bottom: 0;
			}

			&:hover .wc-block-components-radio-control__input {
				color: var(--bs-link-color);
			}
		}
	}

	.wc-block-components-shipping-rates-control__package {
		.wc-block-components-radio-control__label-group {
			font-size: inherit;
		}

		.wc-block-components-radio-control__description-group {
		    font-size: .875em;

			.wc-block-components-radio-control__description {
				font-size: inherit;
				line-height: inherit;
			}
		}
	}

	&.wp-block-woocommerce-cart .wc-block-components-button:not(.is-link) {
		min-height: auto;
		padding: var(--enlightenment-btn-lg-padding-y) var(--enlightenment-btn-lg-padding-x);
		border: var(--bs-border-width) var(--bs-border-style) #0d6efd;
		border-radius: var(--enlightenment-btn-lg-border-radius);
		background-color: #0d6efd;
		color: #fff;
		font-size: var(--enlightenment-btn-lg-font-size);
		font-weight: var(--enlightenment-btn-font-weight);
		line-height: var(--enlightenment-btn-line-height);
		text-decoration-line: none;
		transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;

		&:disabled {
			pointer-events: none;
			background-color: #0d6efd;
			color: #fff;
			opacity: 0.6;
		}

		&:hover {
			color: #fff;
		    background-color: #0b5ed7;
		    border-color: #0a58ca;
		}

		&:active {
			color: #fff;
		    background-color: #0a58ca;
		    border-color: #0a53be;
		}

		&:focus {
			color: #fff;
		    background-color: #0b5ed7;
		    border-color: #0a58ca;
		    box-shadow: none;
		}

		&:focus-visible {
			box-shadow: var(--bs-focus-ring-x, 0) var(--bs-focus-ring-y, 0) var(--bs-focus-ring-blur, 0) var(--bs-focus-ring-width) rgba(49,132,253,.5);
		}
	}

	.wp-block-woocommerce-cart-cross-sells-products-block {
		& > div:not([class]) > div:not([class]) {
			display: flex;
		    flex-wrap: wrap;
		    margin-top: -2rem;
		    margin-left: -15px;
		    margin-right: -15px;
		}

		.cross-sells-product {
			box-sizing: border-box;
		    display: block;
		    flex: 0 0 100%;
		    max-width: 100%;
		    width: auto;
		    padding-left: 15px;
		    padding-right: 15px;
		    margin-top: 2rem;
		    margin-bottom: 0;
		    text-align: center;

			@media (min-width: 576px) {
				flex-basis: 33.333333%;
			    max-width: 33.333333%;
			}

			& > div {
				position: relative;
			    padding-bottom: 1px;
			    margin-bottom: -1px;
			    overflow: hidden;
			}

			.wc-block-components-product-name {
				font-weight: inherit;
			}

			.wc-block-components-product-add-to-cart {
				margin-top: .5rem;

				.wc-block-components-product-add-to-cart-button:not(.is-link) {
				    padding: var(--enlightenment-btn-padding-y) var(--enlightenment-btn-padding-x);
					margin: 0;
				    border: var(--bs-border-width) var(--bs-border-style) #6c757d;
				    border-radius: var(--enlightenment-btn-border-radius);
				    background-color: transparent;
				    color: #6c757d;
				    font-size: var(--enlightenment-btn-font-size);
					font-weight: var(--enlightenment-btn-font-weight);
					line-height: var(--enlightenment-btn-line-height);
				}
			}
		}
	}

	.wp-block-cart-cross-sells-product__product {
		&-image {
			margin-bottom: 1.25rem;
		}

		&-title {
			margin-bottom: .5rem;
			font-size: 1.25rem;
			line-height: 1.2;
		}

		&-rating {
			margin-bottom: .5rem;

			&__stars {
				margin-left: auto;
				margin-right: auto;
			}
		}

		&-onsale {
			position: absolute;
			top: 26px;
			left: 26px;
			right: auto;
			padding: 0.1875rem 2rem;
			box-shadow: none;
			border: none;
			border-radius: 0;
			background-color: #fd000d;
			color: #fff;
			font-size: 0.8125rem;
			font-weight: 700;
			line-height: 0.875rem;
			text-transform: uppercase;
			transform: translate3d(-50%, -50%, 0) rotate(-45deg);
		}

		&-price {
			color: #fd000d;
			font-weight: 700;

			&__regular {
				opacity: 1;
			}

			&__value.is-discounted {
				margin-left: .25rem;
			}
		}
	}

	.wc-block-components-product-rating-stars__stars {
		width: 4.92rem;
		height: 1.25rem;
		font-size: var(--enlightenment-font-size-sm);
		line-height: 1.25rem;

		&::before,
		span::before {
			content: "\f005\f005\f005\f005\f005";
		    display: inline-block;
			font-family: var(--enlightenment-font-icons);
		    font-style: normal;
		    font-variant: normal;
		    text-rendering: auto;
		    line-height: inherit;
			opacity: 1;
			-moz-osx-font-smoothing: grayscale;
		    -webkit-font-smoothing: antialiased;
		}

		span::before {
			font-weight: 900;
		}
	}

	.wc-block-components-validation-error {
		padding-top: 0.25rem;
		color: var(--bs-form-invalid-color);
		font-size: 0.875em;
		line-height: inherit;

		& > p {
			line-height: inherit;
		}
	}

	.wc-block-components-totals-coupon__form {
		.wc-block-components-text-input input[type="text"] {
			position: relative;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;

			&:focus {
				z-index: 1;
			}

			& + label {
				z-index: 2;
			}
		}

		.wc-block-components-totals-coupon__button {
			height: calc(3.5rem + calc(var(--bs-border-width) * 2));
			padding: 1rem .875rem;
			margin-left: calc(var(--bs-border-width) * -1);
			border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
			border-radius: 0 var(--bs-border-radius) var(--bs-border-radius) 0;
		    background-color: #f8f9fa;
			color: #000;
			font-weight: 400;
			transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

			&:disabled {
				pointer-events: none;
			    opacity: 0.65;
			}

			&:hover {
				border-color: var(--bs-border-color);
				background-color: #e2e6ea;
				color: #000;
			}

			&:active {
				border-color: var(--bs-border-color);
				background-color: #dae0e5;
				color: #000;
			}

			&:focus {
				border-color: var(--bs-border-color);
				background-color: #dae0e5;
				box-shadow: none;
				color: #000;
			}

			&:focus-visible {
				box-shadow: var(--bs-focus-ring-x, 0) var(--bs-focus-ring-y, 0) var(--bs-focus-ring-blur, 0) var(--bs-focus-ring-width) rgba(211, 212, 213, 0.5);
			}

			[data-bs-theme="dark"] & {
				background-color: #212529;
				color: #fff;

				&:hover {
					background-color: #424649;
					color: #fff;
				}

				&:active {
					background-color: #4d5154;
					color: #fff;
				}

				&:focus {
					background-color: #4d5154;
					color: #fff;
				}

				&:focus-visible {
					box-shadow: var(--bs-focus-ring-x, 0) var(--bs-focus-ring-y, 0) var(--bs-focus-ring-blur, 0) var(--bs-focus-ring-width) rgba(66, 70, 73, 0.5);
				}
			}
		}
	}

	.wc-block-components-totals-shipping .wc-block-components-totals-shipping__change-address-button {
		color: var(--bs-link-color);
		text-decoration-line: none;

		&:hover {
			color: var(--bs-link-hover-color);
		}
	}

	&,
	& .wc-block-components-form {
		.wc-block-components-combobox {
			.wc-block-components-combobox-control input.components-combobox-control__input {
				height: calc(3.5rem + calc(var(--bs-border-width) * 2));
				padding: 1rem .75rem;
				border-color: var(--bs-border-color);
				border-radius: var(--bs-border-radius);
				background-color: var(--bs-body-bg);
				color: var(--bs-body-color);
			}

			&.is-active .wc-block-components-combobox-control input.components-combobox-control__input {
				padding-top: 1.625rem;
				padding-bottom: .625rem;

				&:focus,
				&[aria-expanded="true"] {
					border-color: #86b7fe;
					box-shadow: var(--bs-focus-ring-x, 0) var(--bs-focus-ring-y, 0) var(--bs-focus-ring-blur, 0) var(--bs-focus-ring-width) var(--bs-focus-ring-color);
					background-color: var(--bs-body-bg);
					color: var(--bs-body-color);
				}
			}

			.wc-block-components-combobox-control label.components-base-control__label {
				top: 0;
				left: 0;
				cursor: text;
				padding: 1rem .75rem;
				margin-left: 0;
				border: 1px solid transparent;
				color: var(--bs-body-color);
				line-height: 1.5;
			    transform: none;
				transition: opacity .1s ease-in-out,transform .1s ease-in-out;
			}

			&.is-active .wc-block-components-combobox-control label.components-base-control__label {
				pointer-events: none;
				color: rgba(var(--bs-body-color-rgb), 0.65);
			    transform: scale(0.84) translateY(-0.5rem) translateX(0.15rem);
			}

			&.is-active .wc-block-components-combobox-control .components-combobox-control__suggestions-container .components-flex:not(:last-child)::after {
				content: "";
				position: absolute;
			    top: calc(3.5rem + var(--bs-border-width));
			    left: 0;
			    right: 0;
			    z-index: 11;
			    height: calc(.5rem + var(--bs-border-width));
			    border-color: #86b7fe;
			    border-style: var(--bs-border-style);
			    border-width: 0 var(--bs-border-width);
			    background-color: var(--bs-body-bg);
			}

			.wc-block-components-combobox-control .components-form-token-field__suggestions-list {
				margin-top: calc(4rem + calc(var(--bs-border-width) * 2));
				margin-left: 0;
				border-color: #86b7fe;
				border-bottom-left-radius: var(--bs-border-radius);
			    border-bottom-right-radius: var(--bs-border-radius);
				box-shadow: var(--bs-focus-ring-x, 0) var(--bs-focus-ring-y, 0) var(--bs-focus-ring-blur, 0) var(--bs-focus-ring-width) var(--bs-focus-ring-color);
				background-color: var(--bs-body-bg);
				color: var(--bs-body-color);

				.components-form-token-field__suggestion {
					cursor: pointer;
					color: var(--bs-body-color);

					&.is-highlighted,
					&:hover,
					&:active,
					&:focus {
						color: var(--bs-body-color);
						background-color: var(--bs-secondary-bg);
					}

					&.is-selected {
						color: var(--bs-white);
						background-color: var(--bs-primary);
					}
				}
			}
		}
	}

	.has-dark-controls.has-dark-controls {
		.wc-block-components-form .wc-block-components-text-input,
		.wc-block-components-text-input {
			input[type="email"],
			input[type="number"],
			input[type="tel"],
			input[type="text"],
			input[type="url"] {
				border-color: #495057;
				background-color: #191919;
				color: #d4d4d4;

				&:hover {
					border-color: #80bdff;
				}

				&:focus {
					border-color: #86b7fe;
					box-shadow: var(--bs-focus-ring-x, 0) var(--bs-focus-ring-y, 0) var(--bs-focus-ring-blur, 0) var(--bs-focus-ring-width) var(--bs-focus-ring-color);
					background-color: #191919;
					color: #d4d4d4;
				}
			}

			label {
				color: #d4d4d4;
			}

			&.is-active {
				label {
					color: rgba(212, 212, 212, 0.65);
				}
			}

			&.has-error {
				input[type="email"],
				input[type="number"],
				input[type="tel"],
				input[type="text"],
				input[type="url"] {
					border-color: #ea868f;

					&:focus {
						box-shadow: var(--bs-focus-ring-x, 0) var(--bs-focus-ring-y, 0) var(--bs-focus-ring-blur, 0) var(--bs-focus-ring-width) rgba(234, 134, 143, 0.25);
					}
				}

				label {
					color: #ea868f;
				}
			}
		}

		.wc-block-components-textarea {
			border-color: #495057;
			background-color: #191919;
			color: #d4d4d4;
		}

		.wc-block-components-combobox {
			.wc-block-components-combobox-control {
				label.components-base-control__label {
					color: #d4d4d4;
				}

				input.components-combobox-control__input {
					border-color: #495057;
					background-color: #191919;
					color: #d4d4d4;
				}

				.components-form-token-field__suggestions-list {
					border-color: #495057;
					background-color: #191919;
				}

				.components-form-token-field__suggestions-list .components-form-token-field__suggestion {
					color: #d4d4d4;

					&.is-highlighted,
					&:hover,
					&:active,
					&:focus {
						color: #d4d4d4;
						background-color: #262626;
					}
				}
			}

			&.is-active .wc-block-components-combobox-control {
				label.components-base-control__label {
					color: rgba(212, 212, 212, 0.65)
				}

				input.components-combobox-control__input[aria-expanded="true"] {
					border-color: #495057;
					background-color: #191919;
					color: #d4d4d4;
				}

				.components-combobox-control__suggestions-container .components-flex:not(:last-child)::after {
					border-color: #495057;
					background-color: #191919;
				}
			}
		}

		.wc-block-components-checkbox .wc-block-components-checkbox__input[type="checkbox"] {
			background-color: transparent;
		}

		.wc-block-components-totals-coupon__form {
			.components-button.wc-block-components-button.wc-block-components-totals-coupon__button.contained {
				background-color: #212529;
				color: #fff;
			}
		}
	}

	.wc-block-components-totals-footer-item {
		.wc-block-components-totals-item__label,
		.wc-block-components-totals-item__value {
			font-size: inherit;
			font-weight: 700;
		}
	}

	.wc-block-cart__submit,
	.is-large.wc-block-cart .wc-block-cart__sidebar > div.wc-block-cart__submit,
	.wp-block-woocommerce-cart-express-payment-block,
	.is-large.wc-block-cart .wc-block-cart__sidebar > div.wp-block-woocommerce-cart-express-payment-block {
		margin-top: 1rem;
	}

	.wc-block-components-express-payment .wc-block-components-express-payment__event-buttons > li > img {
		border-radius: var(--bs-border-radius);
		object-fit: cover;
	}

	.wp-block-woocommerce-cart-express-payment-block .wc-block-cart__payment-options .wc-block-components-express-payment-continue-rule {
		margin-bottom: 0;
	}

	.wc-block-components-express-payment-continue-rule {
		&::before,
		&::after {
			border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
		}
	}

	.wp-block-woocommerce-proceed-to-checkout-block .wc-block-components-button.wc-block-cart__submit-button {
		background-color: #fd000d;
	    border-color: #fd000d;
		color: #fff;
		font-family: inherit;

		&:hover {
			background-color: #bb2d3b;
		    border-color: #b02a37;
		}

		&:active {
			background-color: #b02a37;
		    border-color: #a52834;
		}

		&:focus {
			background-color: #b02a37;
		    border-color: #a52834;
			box-shadow: none;
		}

		&:focus-visible {
			box-shadow: var(--bs-focus-ring-x, 0) var(--bs-focus-ring-y, 0) var(--bs-focus-ring-blur, 0) var(--bs-focus-ring-width) rgb(225,83,97,.5);
		}
	}

	.wc-block-cart__empty-cart__title {
		margin-top: 1rem;
	    margin-bottom: 1rem;
		font-weight: inherit;
	}

	.wp-block-button__link {
		padding: var(--enlightenment-btn-padding-y) var(--enlightenment-btn-padding-x);
		font-size: var(--enlightenment-font-size-sm);
	}
}

@media (min-width: 576px) {
	.wp-block-woocommerce-cart {
		.wc-block-components-sidebar-layout {
			margin-right: calc(-.5 * var(--bs-gutter-x));
		    margin-left: calc(-.5 * var(--bs-gutter-x));

			.wc-block-components-main,
			.wc-block-components-sidebar {
				padding-right: calc(var(--bs-gutter-x) * .5);
			    padding-left: calc(var(--bs-gutter-x) * .5);
			}
		}
	}
}

@media (min-width: 768px) {
	.wp-block-woocommerce-cart {
		.wc-block-components-title.wc-block-components-title {
			font-size: 2rem;
		}
	}
}

@media (min-width: 992px) {
	.wp-block-woocommerce-cart {
		.wc-block-components-sidebar-layout {
			.wc-block-components-main {
				width: 66.66666667%;
			}

			.wc-block-components-sidebar {
				width: 33.33333333%;
			}

			.wc-block-components-main + .wc-block-components-sidebar {
				margin-top: 0;
			}
		}

		.wc-block-cart-items,
		.wp-block-woocommerce-cart-cross-sells-block {
			width: calc(100% - 10px);
		}

		.wc-block-components-main .block-list-appender {
			margin-right: 10px !important;
		}

		.wc-block-cart.wc-block-cart .wc-block-cart__sidebar > div:not(.wc-block-components-totals-wrapper) {
			margin-left: 40px;
		}
	}
}

@media (min-width: 1200px) {
	.wp-block-woocommerce-cart {
		.wc-block-cart.wc-block-cart .wc-block-cart__sidebar > div:not(.wc-block-components-totals-wrapper) {
			margin-left: 30px;
		}
	}
}
