.wp-block-code {
    padding: 0;
    border: none;
    border-radius: 0;

    .block-editor-plain-text {
        color: #212529;
        font-family: var(--enlightenment-font-monospace);
        font-size: var(--enlightenment-font-size-sm);
    }
}
