.wp-block[data-type="tribe/event-organizer"] {
	.tribe-editor__organizer__title-heading {
		margin-top: 0;
	    margin-bottom: 0.5rem;
	    font-size: 1.25rem;
	}

	.tribe-editor__organizer__details {
	    p {
	        margin: 0;
	        color: inherit;
	        font-family: inherit;
	        line-height: 1.5rem;
	    }
	}
}
