[data-type="jetpack/eventbrite"]{
    [data-align="left"],
    [data-align="right"] {
        .block-editor-inner-blocks {
            position: relative;
            margin-top: .5rem;
            margin-bottom: 1rem;
        }
    }

    [data-align="left"] {
        .block-editor-inner-blocks {
            margin-right: 1.5rem;
        }
    }

    [data-align="right"] {
        .block-editor-inner-blocks {
            margin-left: 1.5rem;
        }
    }

    .block-editor-block-list__layout {
        display: flex;
    }

    [data-type="jetpack/button"] {
        margin-top: 0;
        margin-bottom: 0;
    }
}
