.wp-block-page-list {
	list-style: none;
	padding-left: 0;

	.wp-block-pages-list__item + .wp-block-pages-list__item {
		margin-top: .5rem;
	}

	.submenu-container {
		list-style: none;
		padding-left: 0;
		margin-top: .5rem;

		.wp-block-pages-list__item {
			position: relative;
		    padding-left: 1.5rem;

			&::before,
			&::after {
				content: "";
			    position: absolute;
			    left: 7.5px;
			    width: 8px;
			    height: 8px;
			    border-width: 1px;
			    border-style: solid;
			}

			&::before {
				top: 2px;
			    border-color: transparent transparent rgba(0,0,0,.15) rgba(0,0,0,.15);
			}

			&::after {
				top: 9px;
			    border-color: transparent transparent transparent rgba(0,0,0,.15);
			}

			&:last-child::after {
				content: none;
			}
		}
	}

	.wp-block-pages-list__item__link {
		text-decoration-line: none;
	}
}
