.wp-block-post-comments {
	font-family: var(--enlightenment-body-font-family);
	font-size: var(--enlightenment-body-font-size);
	line-height: var(--bs-body-line-height, 1.5);

	.wp-block[data-align="full"] > & {
		padding-left: 15px;
		padding-right: 15px;
	}
}
