.wc-block-all-reviews,
.wc-block-reviews-by-category,
.wc-block-reviews-by-product {
    font-family: var(--enlightenment-body-font-family);

	&:not([style*="font-size:"]) {
	    font-size: var(--enlightenment-body-font-size);
	}

    .wc-block-sort-select {
        margin-bottom: 2rem;
    }

    .wc-block-sort-select__label {
        margin-bottom: 0;
		font-size: inherit;
    }

    .wc-block-sort-select__select {
		display: inline-block;
		width: auto;
		padding: 0.375rem 2.25rem 0.375rem 0.75rem;
	    -moz-padding-start: calc(0.75rem - 3px);
		font-size: var(--enlightenment-body-font-size);
	    font-weight: 400;
	    line-height: 1.5;
	    color: var(--bs-body-color);
	    background-color: var(--bs-body-bg);
	    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
	    background-repeat: no-repeat;
	    background-position: right 0.75rem center;
	    background-size: 16px 12px;
	    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
	    border-radius: var(--bs-border-radius);
		-webkit-appearance: none;
	    -moz-appearance: none;
		appearance: none;
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

		[data-enlightenment-bs-theme="dark"] & {
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dee2e6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
		}
    }

    .wc-block-review-list {
        padding: 0;
        margin: 0;
		font-size: inherit;
    }

    .wc-block-review-list-item__item {
		box-sizing: border-box;
        margin: 0;

        & + .wc-block-review-list-item__item {
            margin-top: 2rem;
        }
    }

    .wc-block-review-list-item__info {
        margin-bottom: 0;
    }

	.wc-block-components-review-list-item__item--has-image .wc-block-components-review-list-item__info {
		grid-template-rows: 1fr;
	}

    .wc-block-review-list-item__image {
        position: relative;

        img {
            max-height: none;
			width: auto;
			height: 100%;
        }

        img[src*="/avatar/"] {
            border-radius: 50%;
        }

        .wc-block-review-list-item__verified {
            top: -7px;
            bottom: auto;
        }
    }

	.is-loading .wc-block-components-review-list-item__image {
		max-width: 3em !important;
	}

	.wc-block-review-list-item__verified {
		font-size: 0;
	}

    &.has-image .wc-block-review-list-item__meta {
		align-content: center;
    }

    .wc-block-review-list-item__rating {
        margin-left: auto;
    }

    .wc-block-review-list-item__rating__stars {
		width: 5.6em;
		height: 1em;
        margin-left: auto;
        font-family: var(--enlightenment-font-icons);
        font-size: .875em;

        &::before {
            content: "\f005\f005\f005\f005\f005";
            color: var(--bs-body-color);
            opacity: 1;
        }

        span {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 1em;
			padding-top: 1em;
            overflow: hidden;

            &::before {
                content: "\f005\f005\f005\f005\f005";
                color: var(--bs-body-color);
                font-weight: 900;
            }
        }
    }

	.wc-block-review-list-item__author {
	    color: var(--bs-body-color);
	    font-size: 1em;
	    line-height: 1.5;
	}

	.wc-block-review-list-item__published-date {
		color: var(--enlightenment-accent-color);
		font-size: .875em;
		line-height: 1.46;
	}

    .wc-block-review-list-item__author + .wc-block-review-list-item__published-date::before {
        content: none;
    }

    .wc-block-review-list-item__text {
        margin-top: .5rem;
        font-size: 1.125em;

        p {
			margin-top: 0;
            margin-bottom: 1em;

			&:last-child {
				margin-bottom: 0;
			}
        }
    }

    &.has-image .wc-block-review-list-item__text {
        margin-left: calc(2.66em + 16px);
    }

    .wc-block-load-more {
        margin-top: 2rem;

        .wp-block-button__link {
            display: inline-block;
            font-weight: 400;
            color: #212529;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: transparent;
            border: 1px solid #6c757d;
            padding: 0.3125rem 0.875rem;
            color: #6c757d;
            font-size: var(--enlightenment-font-size-sm);
            line-height: 1.25rem;
            border-radius: 1rem;
            text-decoration-line: none;
            transition:
				color 0.15s ease-in-out,
				background-color 0.15s ease-in-out,
				border-color 0.15s ease-in-out,
				box-shadow 0.15s ease-in-out;

            &:active,
            &:hover,
			&:focus {
                color: #fff;
                background-color: #6c757d;
                border-color: #6c757d;
            }

			&:focus {
                outline: none;
            }

			&:focus-visible {
				outline: none;
                box-shadow: var(--bs-focus-ring-x, 0) var(--bs-focus-ring-y, 0) var(--bs-focus-ring-blur, 0) var(--bs-focus-ring-width) rgba(108,117,125,.5);
            }
        }
    }
}

[data-type="woocommerce/all-reviews"] .wc-block-all-reviews,
.wc-block-all-reviews[data-type="woocommerce/all-reviews"],
.wc-block-reviews-by-category,
.wc-block-reviews-by-product {
    .wc-block-review-list-item__product {
        color: var(--bs-body-color);
        font-size: 1em;
        line-height: 1.5;

        a {
            color: inherit;
			text-decoration-line: none;
        }

		& + .wc-block-review-list-item__author {
			font-size: .875em;
		}
    }
}
