.wp-block-search {
    font-family: var(--enlightenment-body-font-family);
    font-size: var(--enlightenment-body-font-size);

    .wp-block-search__label {
        flex: 0 0 100%;
        margin-bottom: .5rem;
		color: var(--bs-heading-color);
        font-size: 1.25rem;
        font-weight: 700;
		line-height: 1.2;
    }

    .wp-block-search__button {
		padding: var(--enlightenment-btn-padding-y) var(--enlightenment-btn-padding-x);
        font-family: var(--enlightenment-body-font-family);
        font-size: var(--enlightenment-font-size-sm);

		&.has-icon {
			padding: .3125rem .4375rem;
		}
    }

	&.wp-block-search__button-inside .wp-block-search__button {
		margin-left: .625em;

		&.has-icon {
			padding: .1875rem;
		}
	}
}

[data-type="core/search"] {
    &[data-align="wide"],
    &[data-align="full"] {
        .wp-block-search__input {
            max-width: none;
        }
    }
}
