.wp-block-site-title {
	font-weight: 500;

	&.alignfull {
		padding-left: 15px;
	    padding-right: 15px;
	}

	&:not([class*="-font-size"]) {
		font-size: 1.25rem;
	}

	a {
		color: rgba(0,0,0,.9);
	}
}
