body,
button,
input,
select,
optgroup,
textarea {
    color: var(--bs-body-color);
    font-family: var(--enlightenment-body-font-family);
    font-size: var(--enlightenment-body-font-size);
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

::selection {
	background: var(--bs-body-color);
	color: var(--bs-body-bg);
}

a {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    background-color: transparent;
	text-decoration: var(--enlightenment-link-text-decoration-line);
	text-decoration-thickness: var(--enlightenment-link-text-decoration-thickness);
	text-underline-offset: var(--enlightenment-link-text-underline-offset);
	text-decoration-color: var(--enlightenment-link-text-decoration-color);
    transition: color 0.25s ease;

	&:hover {
		color: rgba(var(--bs-link-hover-color-rgb), var(--bs-link-opacity, 1));
		text-decoration-color: var(--enlightenment-link-hover-text-decoration-color);
	}
}

img {
    vertical-align: middle;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    line-height: 1.2;

    &:first-child {
        margin-top: 1rem;
    }

	&.has-background {
		padding: 1rem;
	}

	a {
		text-decoration-line: none;
	}
}

.h1,
h1 {
    font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
	.h1,
	h1 {
	    font-size: 2.5rem;
	}
}

.h2,
h2 {
    font-size: 1.75rem;
}

@media (min-width: 768px) {
	.h2,
	h2 {
	    font-size: 2rem;
	}
}

.h3,
h3 {
    font-size: calc(1.3rem + .6vw);
}

@media (min-width: 1200px) {
	.h3,
	h3 {
	    font-size: 1.75rem;
	}
}

.h4,
h4 {
    font-size: 1.25rem;
}

.h5,
h5 {
    font-size: 1.25rem;
}

.h6,
h6 {
    font-size: var(--enlightenment-body-font-size);
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;

	&.has-background {
		padding: 1rem 1.5rem;
	}
}

b,
strong {
    font-weight: bolder;
}

blockquote {
    margin: 0 0 1rem;
	font-family: var(--enlightenment-font-serif);
    font-style: italic;

	cite {
		font-family: var(--enlightenment-body-font-family);
	}
}

ul,
ol {
    font-family: var(--enlightenment-body-font-family);
    font-size: var(--enlightenment-body-font-size);
    padding-left: 40px;
    padding-right: 0;
}

li {
    ul,
    ol,
    & + li {
        margin-top: .75rem;
        margin-left: 0;
    }

    ul,
    ol {
        margin-bottom: 0;
    }
}

table {
    font-family: var(--enlightenment-body-font-family);
    font-size: var(--enlightenment-body-font-size);
}

label {
    font-family: var(--enlightenment-body-font-family);
    font-size: var(--enlightenment-body-font-size);
}

code {
    padding: 0;
    border-radius: 0;
    background: none;
    color: #e83e8c;
    font-family: var(--enlightenment-font-monospace);
    font-size: 87.5%;
    word-wrap: break-word;
}

pre {
    color: #212529;
    font-size: var(--enlightenment-font-size-sm);
    font-family: var(--enlightenment-font-monospace);

    code {
        color: inherit;
        font-size: inherit;
        word-break: normal;
    }
}

.editor-post-title__input {
    color: var(--bs-body-color);
    font-family: var(--enlightenment-body-font-family);
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 700;
}

@media (min-width: 768px) {
	.editor-post-title__input {
		font-size: 3rem;
		line-height: 3.5rem;
	}
}

.wp-block {
    margin-top: 1rem;
    margin-bottom: 1rem;

	.block-editor-block-list__layout.is-root-container > &[style*="margin-top: 0px;"]:first-child {
		margin-top: 1rem !important;
	}
}

@media (min-width: 576px) {
    .wp-block {
        max-width: 510px;
    }
}

@media (min-width: 768px) {
    .wp-block {
        max-width: 690px;
    }
}

@media (min-width: 992px) {
    .wp-block {
        max-width: 930px;
    }
}

@media (min-width: 1200px) {
    .wp-block {
        max-width: 1110px;
    }
}

.block-editor-block-list__layout {
    .wp-block[data-align="left"],
    .wp-block[data-align="right"] {
        & > .block-editor-block-list__block {
            margin-bottom: 1.5em;
        }
    }

    .wp-block[data-align="left"] > .block-editor-block-list__block {
        margin-right: 1.5em;

    }

    .wp-block[data-align="right"] > .block-editor-block-list__block {
        margin-left: 1.5em;
    }
}

/**
 * Wide and full alignments are supported only on full-width layouts
 *
 * Floats are cleared on elements aligned full and wide in
 * block-editor/_alignments.scss
 */
.wp-block[data-align="wide"],
.wp-block[data-align="full"] {
	clear: none;
}

.wp-block[data-align="full"] {
    max-width: none;
}

[data-type="core/heading"] {
    margin-top: 2rem;
    z-index: 1;

	.h1, .h2, .h3, .h4, .h5, .h6,
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: -.5rem;
    }
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
    &[data-type="core/heading"] {
        margin-bottom: -.5rem;
    }
}

.has-drop-cap:not(:focus)::first-letter {
    margin-top: 0.14em;
    font-size: 3.24em;
    font-weight: 400;
}

[data-type="core/list"] {
    font-family: var(--enlightenment-body-font-family);
    font-size: var(--enlightenment-body-font-size);
}
